.filters{
    display: flex;
    justify-content: center;
}

.filters__item{
    padding: 5px 10px;
    margin:0 5px;
    border: 2px solid #333;
    border-radius: 10px;
    cursor: pointer;
}

.filters__item:hover,
.filters__item.active{
    border-color: rgb(146, 76, 163);
    color: rgb(146, 76, 163);
}

.thumbs{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.thumbs__item{
    padding: 20px;
}

@keyframes drop{
    0%{
        transform: translateY(-100%);
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.preview{
    position: relative;
    height: 500px;
    width: 500px;
    padding: 20px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 5px 5px #222;
    animation: 0.5s alternate linear drop;
}

@keyframes fadeIn{
    0%{
        opacity: 0.1;
        
    }

    100%{
        opacity: 1;
    }
}

.preview__overlay{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(1, 1, 1, 0.8);
    z-index: 9999;   
    animation: 0.2s linear fadeIn;
}



.preview__picture{
    width: 100%;
}

.preview__close{
    position: absolute;
    top:-40px;
    left: 0;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;

    background-color: #fff;
    border: 2px solid #333;
    border-radius: 50%;
    cursor: pointer;
}